<footer class="section footer-classic text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <a class="brand" routerLink="/"
          ><img
            class="brand-logo"
            src="assets/after-math-white1.png"
            alt="After Math Application"
        /></a>
        <!-- Rights-->
        <p class="rights">
          <span>© </span><span class="copyright-year">2019</span><span> </span
          ><span>{{ APPLICATION_MAIN_TITLE }}</span
          ><span>. </span><span>All Rights Reserved.</span>
        </p>
      </div>
      <div class="col-md-3">
        <p class="company-info">
          {{ APPLICATION_MAIN_TITLE }} is curated list of games available all
          over the internet and posess analytics for each game.
        </p>
      </div>
      <div class="col-md-3">
        <h5>Contact</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>798 South Park Avenue, New York, United States of America</dd>
        </dl>
        <dl class="contact-list">
          <dt>Email:</dt>
          <dd><a href="mailto:support@after-math.com">support@after-math.com</a></dd>
        </dl>
      </div>
      <div class="col-md-2">
        <dl class="phones-list">
          <dt>Phones:</dt>
          <dd><a href="tel:+1234567890">+1 (234) 567890</a></dd>
          <dd><a href="tel:+1234567890">+1 (234) 567890</a></dd>
          <dd><a href="tel:+1234567890">+1 (234) 567890</a></dd>
        </dl>
      </div>
    </div>
  </div>
</footer>
